.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 400px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.header-name {
    font-size: 30px;

}

.btn-update {
    margin-left: 20px;
}

.container-notes {
    margin-bottom: 50px;
}

.notes-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.notes-list-item {
    position: relative;
    padding: 50px;
    border: 1px solid;
}

.item-delete {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 10px;
}

.notes-list-item:not(:first-child) {
    margin-left: 20px;
}


.form-note {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.form-name {
    font-size: 30px;
    margin-bottom: 20px;
}

.input-note {
    width: 100%;
    height: 130px;
    margin-bottom: 20px;
}

.btn-submit {
    position: absolute;
    bottom: 35px;
    right: 10px;
}

.btn {
    color: white;
    background-color: green;
}